<ion-header>

    <ion-navbar color="dark">
        <ion-title text-center>Home</ion-title>
        <ion-buttons>
            <button ion-button icon-only (click)="mostrarMenu()">
              <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>

</ion-header>

<ion-content>

    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="15">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>

</ion-content>

<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar color="dark">
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item>
                <ion-icon name="ios-build-outline" item-start></ion-icon>
                <button ion-item (click)="openAjustes()">
                    Ajustes
                </button>
            </ion-item>
            <ion-item>
                <ion-icon name="ios-key-outline" item-start></ion-icon>
                <button ion-item (click)="openLogin()">
             Login
            </button>
            </ion-item>
            <ion-item>
                <ion-icon name="ios-exit-outline" item-start></ion-icon>
                <button ion-item (click)="salir()">
                 Salir
                </button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>


<ion-nav id="nav" #content></ion-nav>